{% extends 'base.html' %} 
{% block body %}

<br />
<br />
<br />
&emsp;&emsp;&emsp;&emsp;"Code With Dhiraj" is an online platform created by Dhiraj Bhai , a popular Indian YouTuber and programming educator. He offers a wide range of programming tutorials and courses &emsp;&emsp;&emsp;&emsp; primarily focused on web development, including HTML, CSS, JavaScript, PHP, Python, and more.
<br><br>
<br>
&emsp;&emsp;&emsp;&emsp;Dhiraj's tutorials are known for their simplicity and practical approach, making them accessible to beginners. He covers various programming concepts and frameworks, providing &emsp;&emsp;&emsp;&emsp;step-by-step instructions and examples to help learners understand and apply the knowledge effectively.
<br><br>
<br>
&emsp;&emsp;&emsp;&emsp;In addition to YouTube tutorials, Dhiraj also offers paid courses on his website, where students can dive deeper into specific topics and gain a comprehensive understanding of &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;web development. These courses typically include video lectures, assignments, quizzes, and coding exercises to enhance the learning experience.
<br><br>
<br>
&emsp;&emsp;&emsp;&emsp;Dhiraj's tutorials and courses have gained significant popularity among aspiring programmers, especially in India, due to his engaging teaching style and dedication to <br>&emsp;&emsp;&emsp;&emsp;simplifying complex concepts.
{% endblock body %}
