{% extends 'base.html' %} 
{% block body %}

{% comment %} 
Type &nbsp; to add a single space.
Type &ensp; to add 2 spaces.
Type &emsp; to add 4 spaces. 
{% endcomment %}

<br />
<br />
<br />
<b>Full Name:      </b>&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;JADAV JAYESH HIMMATBHAI

<b><br />
<b><br /></b>
<b>Email </b>Address: </b>&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;jadavjayesh2004@gmail.com

<b><br />
<b><br /></b>
<b>Phone </b>Number:   </b>&emsp;&emsp;&emsp;&emsp;&emsp;+91 97266634150

<b><br />
<b><br /></b>
<b>Addres</b>s:        </b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; GUJRAT
<b><br />
<b><br /></b>
<b>City: </b>          </b>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;DHRANGADHRA
<b><br />
<b><br /></b>
<b>Help line No:</b>        </b>&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;+91 8980021141

<br><br><br><input type="submit" >
{% endblock body %}
